Source: bolivarcoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@bolivarcoin.org>
Uploaders: Holger Schinzel <holger@bolivarcoin.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.bolivarcoin.org/
Vcs-Git: git://github.com/BolivarcoinCore/Bolivarcoin.git
Vcs-Browser: https://github.com/BolivarcoinCore/Bolivarcoin

Package: bolivarcoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Bolivarcoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Bolivarcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bolivarcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, bolivarcoind, and the CLI tool
 bolivarcoin-cli to interact with the daemon.

Package: bolivarcoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Bolivarcoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Bolivarcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bolivarcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Bolivarcoin-Qt, a GUI for Bolivarcoin based on Qt.

Package: bolivarcoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Bolivarcoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Bolivarcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bolivarcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides bolivarcoin-tx, a command-line transaction creation
 tool which can be used without a bolivarcoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
